<div>
    <uib-accordion close-others="true" class="navigationAcc">
        <uib-accordion-group heading="Administration" class="">
            <ul class="collapse in list-group sidebar-nav-v1" aria-expanded="true">
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group heading="Administration1">
            <ul class="collapse in list-group sidebar-nav-v1" aria-expanded="true">
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group heading="Administration2">
            <ul class="collapse in list-group sidebar-nav-v1" aria-expanded="true">
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group heading="Administration3">
            <ul class="collapse in list-group sidebar-nav-v1" aria-expanded="true">
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li ng-class="{active: itemActive=='admin/users'}"><a href="admin/users" ng-click="changeItemActive('admin/users')">Manage Users<i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
        </uib-accordion-group>

    </uib-accordion>
</div>