<div ng-controller="userController">

    <div class="row row-with-sidebar">
        <div class="col-sm-3 col-sm-3 col-xs-12 left-nav-fixed padding-right-0">
            <div admin-navigation class="navigationBar"></div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 border-left-2 pull-right padding-left-30">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline"><h2>Manage Users</h2></div>
                </div>
            </div>
            <div class="panel panel-default margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa"></i>Users</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="usersTable">
                            <thead>
                            <tr>
                                <th><input type="checkbox" value=""><label></label></th>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td><input class="form-control" ng-model="search.userId" type="text" value="" placeholder="search"></td>
                                <td><input class="form-control"  ng-model="search.name" type="text" value="" placeholder="search"></td>
                                <td><input class="form-control"  ng-model="search.email" type="text" value="" placeholder="search"></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="user in users | filter:search">
                                <td><input type="checkbox" id='{{$index}}' value=""><label></label></td>
                                <td>{{user.userId}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <a href="javascript:void();" ng-click="popupModalController({selectedUserIndex:$index,users:user},addEditAdminUsers,'myModalContent')"><i class="fa fa-pencil"></i>Edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="margin-top-15">
                        <button class="btn btn-u" ng-click="popupModalController({selectedUserIndex:-1,users:{}},addEditAdminUsers,'myModalContent')">Add</button>
                        <button class="btn btn-u" ng-click="deleteRows()">Delete</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>