<div class="footer-v1">
    <div class="footer">
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <ul id="footer-col1" class="col-sm-3">
                        <li>
                            <a href="#">Item1</a>
                        </li>
                        <li>
                            <a href="#">Item2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                        <li>
                            <a href="#">Item 10</a>
                        </li>
                    </ul>
                    <ul id="footer-col2" class="col-sm-3">
                        <li>
                            <a href="#">Item 11  &amp; 12</a>
                        </li>
                        <li>
                            <a href="#">Item 4</a>
                        </li>
                        <li>
                            <a href="#">Items 6</a>
                        </li>
                        <li>
                            <a href="#">Item 8</a>
                        </li>
                    </ul>
                    <ul id="footer-col3" class="col-sm-3">
                        <li>
                            <a href="#">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                    </ul>
                    <ul id="footer-col4" class="col-sm-3">
                        <li><a href="/consumer/support/contactus" title="Contact us"><i class="rui-icon-call"></i></a></li>
                        <li><a href="/web/content/store-locator" title="Find a store"><i class="rui-icon-locator"></i></a></li>
                    </ul>

                    <div class="social-media">
                        <span>Follow</span>
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Red Board">
                                    <i class="fa fa-comments"></i>
                                </a>
                            </li>
                        </ul>
                        <a title="Provide feedback on this page" href="Javascript:void(0)" onclick="" class="btn">Feedback</a>
                    </div>
                </div>
            </div>
        </footer>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; 2016 CTP Web.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>