<div class="alert alert-success" role="alert">
    <div class="glyphicon glyphicon-ok-sign ok-circle-custom"></div>
    <p class="font-size-16"><strong class="dis-block">Thank You</strong> Your payment has been received. We've also sent you a confirmation mail.</p>
</div>

<div class="alert alert-warning" role="alert">
    <div class="glyphicon glyphicon-warning-sign warning-icon-custom"></div>
    <p class="font-size-16">Sorry, you are currently not eligible for an upgrade and your device balance is not available as your account is not in good standing.</p>
</div>