<div ng-show="loggedIn"  ng-controller="cartCtrl" class="no-content-space">
    <div class="list1">
        <div class="container-fluid">
            <div class="row margin-bottom-10">
                <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 col-xs-12">
                    <div class="boxdiv">

                        <div class="row">
                            <h3>Business Phone Service</h3>
                        </div>
                        <div class="row">
                            <p>Business-grade high-speed Internet solutions to fit your needs and budget. Available nationwide.</p>
                        </div>
                        <div class="row">
                            <p>$100.00 voice Monthly </p>
                            <p>$150 onetime charge </p>
                            <p>2000 mins free </p>
                            <p>Call forwarding/diverting included* </p>
                            <p>First 2 months 50% discount on monthly fee </p>
                        </div>
                        <div class="row">
                            <div>
                                <ngcart-addtocart id="product2-first-item" class="text-center" name="Product 2 First Item" price="15.29" quantity="1" quantity-max="1" ng-click="addToCart()">Add to Cart</ngcart-addtocart>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="boxdiv">

                        <div class="row">
                            <h3>Business Phone Service</h3>
                        </div>
                        <div class="row">
                            <p>Business-grade high-speed Internet solutions to fit your needs and budget. Available nationwide.</p>
                        </div>
                        <div class="row">
                            <p>$100.00 voice Monthly </p>
                            <p>$150 onetime charge </p>
                            <p>2000 mins free </p>
                            <p>Call forwarding/diverting included* </p>
                            <p>First 2 months 50% discount on monthly fee </p>
                        </div>
                        <div class="row">
                            <div>
                                <ngcart-addtocart id="product2-second-item" class="text-center" name="Product 2 Second Item" price="18.29" quantity="1" quantity-max="1" ng-click="addToCart()">Add to Cart</ngcart-addtocart>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

